<ion-header>
    <ion-navbar color="color1">

        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title style="text-align: center; position: relative; right: 7%;">Restaurant
            <ion-icon (click)="carritos()" style="position: absolute;right: 1%;" name="ios-cart-outline"></ion-icon>
            <ion-badge (click)="carritos()" class="icono" *ngIf="carrito.item.length > 0" color="danger"> {{carrito.item.length}} </ion-badge>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="back">


    <ion-grid style="padding: 0px">

        <ion-row>
            <ion-col style="padding: 0px" col-12>
                <ion-slides autoplay="5000" loop="true" speed="500" pager="true" (ionSlideDidChange)="slideChanged()">
                    <ion-slide *ngFor="let item of slides">
                        <img [src]="item.image" style="width: 100%">
                        <h2 class="titulo"> {{item.title}} </h2>
                        <p class="des" [innerHTML]="item.description"></p>
                    </ion-slide>
                </ion-slides>
            </ion-col>
            <ion-col (click)="pizzas(pirncipa.id)" *ngFor="let pirncipa of pirincipal" style="padding: 2px" col-6>
                <img [src]="pirncipa.image" alt="">
                <h2 class="titulo2"> {{pirncipa.title}} </h2>
            </ion-col>
            <div>
            </div>
        </ion-row>
    </ion-grid>


</ion-content>